body {
  height: 100%;
}

@font-face {
  font-family: 'HelvecticanueMedium';
  src: url('./fonts/HelveticaNeueCyr-Medium.woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Helvecticanue';
  src: url('./fonts/HelveticaNeueCyr-Roman.woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Helvecticanue-bold';
  src: url('./fonts/HelveticaNeueCyr-Bold.woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Helvectica';
  src: url('./fonts/Helvectica.otf');
  font-weight: normal;
  font-style: normal;
}

.App {
  max-width: 1280px;
  font-family: HelvecticanueMedium;
  height: 100%;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  min-width: 1280px;
  height: 100%;
}

@media screen and (max-width: 425px) {
  .container {
    /* min-width: 360px; */
  }
  .App {
    /* min-width: 360px; */
    font-size: 15px;
  }
  ::-webkit-scrollbar {
    display: none;
  }
}
