@font-face{

font-family: 'HelvecticanueMedium';
src: url('./fonts/HelveticaNeue-Medium.ttf');
src: url('./fonts/HelveticaNeue-Medium.eot') format('eot'),
url('./fonts/HelveticaNeue-Medium.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}


@font-face{

font-family: 'Helvecticanue';
src: url('./fonts/HelveticaNeue.ttf');
font-weight: normal;
font-style: normal;
}


@font-face{

font-family: 'Helvecticanue-bold';
src: url('./fonts/helvetica-neue-bold.ttf');
font-weight: normal;
font-style: normal;
}

@font-face{

font-family: 'Helvectica';
src: url('./fonts/Helvectica.otf');
font-weight: normal;
font-style: normal;
}




.App{
  width:1280px;
  font-family: HelvecticanueMedium;
  height: 100%;
}

.container{
  display: flex;
  justify-content: center;
  min-width: 1280px;
  height: 100%;
}
