.circle-button {
  width: 24px;
  height: 24px;
  background-color: #E9ECEF;
  border-radius: 30px;
  margin-top: 11px;
}

.circle-button img {
  width: 10px;
  height: 10px;
  padding: 7px 8px 7px 6px;
}
