.cancelButton {
  margin: 10px;
  text-align: center;
  background-color: #E9ECEF;
  border-radius: 4px;
  letter-spacing: 0px;
  border: none;
  font-size: 13px;
  padding: 0px;
  margin: 18.5px 8px 17px 23px;
  padding: 10px 16px;
  width: 80px;
  height: 36px;
  color: black;
  font-family: HelvecticanueMedium;
  z-index: 5;
}

.cancelButton:hover {
  background: rgba(0, 16, 33, 0.05);
  border-radius: 4px;
}

.cancelButton:active {
  background-color: rgba(4, 29, 56, 0.14);
}

.cancelButton:disabled {
  background-color: #E9ECEF;
}

@media screen and (max-width: 425px) {
  .container {
    min-width: 360px;
  }
  .App {
    min-width: 360px;
  }
  ::-webkit-scrollbar {
    display: none;
  }
  .cancelButton {
    font-size: 15px;
    padding-left: 13px;
  }
}
