.createButton {
  margin: 10px;
  text-align: center;
  background-color: #007DFF;
  border-radius: 4px;
  letter-spacing: 0px;
  border: none;
  font-size: 13px;
  padding: 0px;
  margin: 18.5px 24px 17px 8px;
  padding: 10px 16px;
  width:140px;
  height: 36px;
  color: white;
  font-family: HelvecticanueMedium;
  z-index: 5;
}
.createButton:hover {
  background-color: #0059FF ;
}

.createButton:active {
  background-color: #0B00FF;
  opacity: 80%;
}

.createButton:disabled {
  background-color:#E9ECEF;
  color:black;
}

@media screen and (max-width: 425px) {
  .createButton {
    font-size: 15px;
    width:160px;
  }
}
