.date-bar {
  min-width: 245px;
  min-height: 22px;
  display: flex;
  margin-left: 24px;
}

.date-bar p {
  text-align: center;
  margin-top: 13px;
  cursor: pointer;
  min-width: 123px;
  height: 18px;
  font-family: HelvecticanueMedium;
  font-size: 15px;
  margin-left: 13.5px;
  margin-right: 13.5px;
}

.calendar-mounth {
  margin: 16px;
  background-color: #E9ECEF;
  border-radius: 4px;
  width: 572px;
  height: 200px;
}

.calendar {
  font-size: 14px;
  font-family: Helvecticanue;
  visibility: visible;
  width: 604px;
  height: 232px;
  background-color: black;
  color: black;
  margin-top: 47px;
  background-color: white;
  box-shadow: 0 1px 8px 0 rgba(0, 44, 92, 0.28);
  border-radius: 4px;
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 10;
}

button {
  width: 24px;
  height: 24px;
  background-color: #E9ECEF;
  border-radius: 30px;
  margin-top: 11px;
  margin-bottom: 12px;
  border: 0;
  padding: 0;
}

button img {
  pointer-events: none;
  margin-top: 4px;
}

@media screen and (max-width: 600px) {
  .date-bar {
    width: 360px;
    height: 56px;
    display: flex;
    margin-left: 2px;
    padding-left: 20px;
    position: fixed;
    box-shadow: 0px 1px 0px #E9ECEF;
    z-index: 99;
    background-color: white;
    padding-top: 50px;
  }
  .date-bar p {
    width: 220px;
    margin-top: 17px;
  }
  button {
    width: 32px;
    height: 32px;
  }
  .calendar {
    width: 360px;
    height: 380px;
    margin-left: -20px;
  }
  .calendar-mounth {
    width: 328px;
    height: 347px;
  }
}
