.date-bar {
  width: 245px;
  height: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 24px;
}

.date-bar p {
  text-align: center;
  margin-top: 15px;
  cursor: pointer;
  min-width: 123px;
  height: 18px;
  font-family: HelvecticanueMedium;
  font-size: 15px;
  margin-left: 13.5px;
  margin-right: 13.5px;
}

.calendar-mounth {
  margin: 16px;
  background-color: #E9ECEF;
  border-radius: 4px;
  width: 572px;
  height: 200px;
}

.calendar {
  font-size: 14px;
  font-family: Helvecticanue;
  visibility: visible;
  width: 604px;
  height: 232px;
  background-color: black;
  color: black;
  margin-top: 47px;
  background-color: white;
  -webkit-box-shadow: 0 1px 8px 0 rgba(0, 44, 92, 0.28);
  box-shadow: 0 1px 8px 0 rgba(0, 44, 92, 0.28);
  border-radius: 4px;
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 10;
}

.date-bar button {
  width: 24px;
  height: 24px;
  background-color: #E9ECEF;
  border-radius: 30px;
  margin-top: 11px;
  margin-bottom: 12px;
  border: 0;
  padding: 0;
}

.date-bar button.plusButton img {
  pointer-events: none;
  margin-left: 10px;
  margin-right: 8.5px;
  margin-top: 6px;
  margin-bottom: 6px;
  /* margin-top: 4px;  */
}

.date-bar button.minusButton img {
  pointer-events: none;
  margin-right: 10px;
  margin-left: 8.5px;
  margin-top: 6px;
  margin-bottom: 6px;
}

@media screen and (max-width: 425px) {
  .date-bar {
    width: 100%;
    height: 56px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 0px;
    padding-left: 20px;
    position: fixed;
    -webkit-box-shadow: 0px 1px 0px #E9ECEF;
    box-shadow: 0px 1px 0px #E9ECEF;
    z-index: 99;
    background-color: white;
    padding-top: 50px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-left: 0px;
  }
  .date-bar p {
    min-width: 220px;
    margin-top: 17px;
  }
  .date-bar button {
    width: 32px;
    height: 32px;
  }
  .calendar {
    width: 360px;
    height: 380px;
  }
  .calendar-mounth {
    width: 328px;
    height: 347px;
  }
  .date-bar button.plusButton img {
    margin-top: 9px;
    width: 11.3px;
    height: 11.3px;
  }
  .date-bar button.minusButton img {
    margin-top: 9px;
    width: 11.3px;
    height: 11.3px;
  }
}
