.date-time-bar {
  display: flex;
  height: 46px;
  box-shadow: 0px 1px 0px #E9ECEF;
}

@media screen and (max-width: 425px) {
  .date-time-bar {
    height: 56px;
    display: inline-block;
    min-width: 360px;
    box-shadow: 0px 0px 0px #E9ECEF;
  }
}
