
@media screen and (max-width: 425px) {
  .delete-event{
    position: absolute;
    top:-50px;
    height: 54px;
    text-align: center;
    left:-30px;
    background-color: white;
    width: 115%;
    z-index: 15;
    font-size: 15px;
  }

  }
