.evet-created-window {
  /* background-color: green; */
  position: absolute;
  z-index: 200;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 16, 33, 0.40);
  display: flex;
  justify-content: center;
  font-family: Helvecticanue;
}

.evet-created-window div {
  background-color: #FFFFFF;
  box-shadow: 0 1px 16px 0 rgba(0, 44, 92, 0.28);
  border-radius: 8px;
  width: 444px;
  height: 217px;
  font-size: 15px;
  margin-top: 225px;
  padding-top: 35px;
  text-align: center;
}


.evet-created-window span {
  margin-top: 45px;
  height: 55px;
}

.evet-created-window div h4 {
  text-align: center;
  /* width: 320px; */
  height: 24px;
  padding-left: 62px;
  margin-top: 14px;
  margin-bottom: 2px;
  padding-right: 62px;
  text-align: center;
  font-family: Helvecticanue-bold;
  font-size: 20px;
}

.evet-created-window div p {
  font-size: 15px;
  text-align: center;
  margin: 6px;
  letter-spacing: 0;
  line-height: 17px;
}

.evet-created-window div button {
  background-color: #007DFF;
  border-radius: 4px;
  letter-spacing: 0px;
  border: none;
  font-size: 13px;
  padding: 0px;
  margin-top: 18px;
  /* margin: 18px 180px 22px 180px; */
  padding: 10px 16px;
  width: 84px;
  height: 36px;
  color: white;
  font-family: HelvecticanueMedium;
  z-index: 5;
}

.evet-created-window div button:hover {
  background-color: #0059FF;
}

@media screen and (max-width: 425px) {
  .evet-created-window div {
    background-color: #FFFFFF;
    box-shadow: 0 1px 16px 0 rgba(0, 44, 92, 0.28);
    border-radius: 8px;
    width: 100%;
    max-height: 267px;
    position: relative;
    margin-top: 0px;
    top: 60%;
  }
}
