.evet-delete-window{
  background-color: green;
  position:absolute;
  z-index: 200;
  width: 100%;
  height: 100%;
  background-color: rgba(0,16,33,0.40);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family : Helvecticanue;
}

.evet-delete-window div{
  background-color: #FFFFFF;
box-shadow: 0 1px 16px 0 rgba(0,44,92,0.28);
border-radius: 8px;
width: 444px;
height:228px;
  font-size: 15px;
}
.evet-delete-window img{
  padding-left: 202px;
  padding-right: 202px;
  padding-top: 47px;
}


.evet-delete-window div h4{
  text-align: center;
  width: 320px;
  height: 24px;
  padding-left:62px;
  margin-top: 17px;
  margin-bottom: 2px;
  padding-right:62px;
  text-align: center;
  font-family:Helvecticanue-bold;
  font-size: 20px;
}
/* .evet-delete-window div p{
  font-size: 15px;
text-align: center;
margin:6px;
letter-spacing: 0;
line-height: 17px;
} */

.evet-delete-window div p{
  padding-top: 8px;
  padding-left: 123px;
  padding-right: 123px;
}

.evet-delete-window div button{
  /* margin-top: 24px; */
  margin: 8px;
  background-color: #E9ECEF;
  border-radius: 4px;
  letter-spacing: 0px;
  border: none;
  font-size: 13px;
  /* padding-right:16px; */
  /* margin: 18px 180px 22px 180px; */
  /* padding: 10px 16px; */
  width:80px;
  height: 36px;
  color: black;
  font-family: HelvecticanueMedium;
  /* z-index: 5; */
}

.evet-delete-window div button:hover {
  background-color: #0059FF ;
}
