.evet-delete-window {
  background-color: green;
  position: absolute;
  z-index: 200;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 16, 33, 0.40);
  display: flex;
  justify-content: center;
  font-family: Helvecticanue;
}

.evet-delete-window div {
  margin-top: 245px;
  background-color: #FFFFFF;
  box-shadow: 0 1px 16px 0 rgba(0, 44, 92, 0.28);
  border-radius: 8px;
  width: 444px;
  height: 228px;
  font-size: 15px;
  text-align: center;
  position: fixed;
}

.evet-delete-window img {
  padding-top: 30px;
  width: 50px;
}

.evet-delete-window div h4 {
  height: 28px;
  margin-top: 17px;
  margin-bottom: 2px;
  font-family: Helvecticanue-bold;
  font-size: 20px;
}

.evet-delete-window div p {
  padding-top: 8px;
}

.evet-delete-window div button {
  margin: 8px;
  background-color: #E9ECEF;
  border-radius: 4px;
  letter-spacing: 0px;
  border: none;
  font-size: 13px;
  width: 80px;
  height: 36px;
  color: black;
  font-family: HelvecticanueMedium;
}

.evet-delete-window div button:hover {
  background-color: #0059FF;
}

@media screen and (max-width: 425px) {
  .evet-delete-window div {
    top:20%;
    width: 100%;
  }
}
