.event-diagram {
  min-width: 1035px;
  height: 28px;
  position: relative;
  margin-top: 13px;
  display: flex;
  background-color: white;
}

.Event {
  height: 28px;
  background-color: #D5DFE9;
  position: absolute;
  display: inline-block;
}

.Event span h3 {
  display: flex;
  font-family: Helvecticanue-bold;
  width: 156px;
  font-size: 15px;
  color: #000000;
  letter-spacing: 0;
  line-height: 24px;
  margin-top: 9px;
  margin-bottom: 5px;
}

.Event span {
  font-family: Helvecticanue;
  font-size: 13px;
  line-height: 17px;
}

.date-room {
  margin-top: -3px;
  /* font-family: Helvecticanue;
 font-size: 13px;
line-height: 17px; */
}

.user {
  display: flex;
  align-items: center;
  margin-top: 14px;
}

.users-info {
  display: flex;
}

.users-info span {
  color: grey;
}

.user img {
  width: 24px;
  height: 24px;
  border-radius: 100px;
  margin-right: 8px;
}

.tooltiptext {
  visibility: visible;
  width: 323px;
  margin-right: 169px;
  height: 102px;
  padding: 5px 0;
  top: 20.2px;
  position: absolute;
  z-index: 6;
  padding-left: 16px;
  background-color: #FFFFFF;
  box-shadow: 0 1px 16px 0 rgba(0, 44, 92, 0.28);
  border-radius: 8px;
  left: 50%;
  margin-left: -169px;
}

.Event:hover {
  background-color: #98A9B9;
}

.Event:active {
  background-color: rgba(0, 0, 0, 0.12);
  background-color: #98A9B9;
}

.Event:hover .tooltiptext {
  visibility: visible;
}

.Event .tooltiptext.arrow {
  bottom: 100%;
  position: absolute;
  /* At the top of the tooltip */
  left: 50%;
  margin-left: -9px;
  border-width: 9px;
  border-style: solid;
  border-color: transparent transparent white transparent;
}

.Cursor {
  position: relative;
  left: 30px;
  pointer-events: none;
  z-index: 1;
  margin-left: -15px;
  ;
  text-align: center;
  background-color: #007DFF;
  border-radius: 2px;
  border: none;
  font-size: 23px;
  padding: 0px;
  width: 57px;
  height: 28px;
  color: white;
  font-family: HelvecticanueMedium;
}

.static {
  min-width: 935px;
  margin-left: 50px;
  height: 28px;
  position: relative;
  margin-top: 0px;
  display: flex;
  opacity: 100;
  z-index: 0;
}

@media screen and (max-width: 425px) {
  .event-diagram {
    height: 58px;
    padding-top: 1px;
    margin-top: 2px;
    margin-bottom: 1px;
    margin-left: 1px;
  }
  .Event {
    height: 58px;
    position: absolute;
  }
  .Event .tooltiptext {
    width: 344px;
    z-index: 180;
    position: fixed;
    top:60%;
    left: 0%;
    margin-left: 1px;
  }
}
