.floor p {
  padding-left: 25px;
  margin-bottom: 0px;
  margin-top: 0px;
  padding-top: 20px;
  font-family: Helvecticanue-bold;
  font-size: 11px;
  color: #858E98;
  letter-spacing: 0.4px;
}

.floor {}

@media screen and (max-width: 425px) {
  .floor {}
  .floor p {
    background-color: #F6F7F9;
    padding-bottom: 4px;
  }
}
