body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-family: 'Helveticaneue';
}

@font-face {
  font-family: 'Helveticaneue';
  src: url('./fonts/HelveticaNeueCyr-Roman.woff');
  font-weight: 200;
  font-style: normal;
}
input{
  border-radius: 2px;
  outline: none;
  border: 1px solid #cccccc;
  height:38px;
}

.date-time-input{
  display: flex;
  justify-content: center;
}



.dropdown{
    border: 1px solid #cccccc;
    width: 240px;
}



.dropdown-item img, .choosed-user img{
  width: 20px;
  height: 20px;
  border-radius: 40px;
}
.dropdown-item:hover, .choosed-user{
  background-color: #e9ecef;
}
.choosed-user{
  width:142px;
  height: 24px;
  margin: 2px;
  display: flex;
  align-items: center;
  border-radius: 40px;
}

.input-with-name{
  display: flex;
  flex-flow: column;
  align-items: flex-start;
}

.time-input{
  width: 72px;
}
.dropdown, .text-input{
  width: 420px;
}
.text-input {
  background: #FFFFFF;
  border-radius: 4px;
  /* height:28px; */
}
.date-input{
  width: 238px;
}

.form{
  font-size: 15px;
  max-width: 1000px;
  flex-wrap: wrap;
  display: flex;
  /* justify-content:center; */
  align-items: center;
}
.recomendation{
  height: 150px;
  width: 399px;
}
