body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-family: 'Helveticaneue';
}

@font-face {
  font-family: 'Helveticaneue';
  src: url('./fonts/HelveticaNeueCyr-Roman.woff');
  font-weight: 200;
  font-style: normal;
}
input{
  border-radius: 4px;
  outline: none;
  background: #FFFFFF;
  border: 2px solid #E9ECEF;
  border-radius: 4px;
  height: 32px;
  padding: 0px;
}

.date-time-input{
  display: flex;
  justify-content: center;
}

.dropdown{
  background-color: white;
    border: 1px solid #cccccc;
    max-height: 102px;
    position: fixed;
    z-index: 99;
}

.dropdown-item{
  display: flex;
  align-items: center;
  height: 34px;
  padding-left: 16px;
}

.dropdown-item img, .choosed-user img{
  width: 20px;
  height: 20px;
  border-radius: 40px;
  margin-right: 8px;
}
.dropdown-item:hover, .choosed-user{
  background-color: #F6F7F9;
}

.dropdown-item:hover{
  font-weight: bold;
}

.choosed-user, .dropdown-item{
  font-size: 13px;
}

.choosed-user{
  margin: 4px 8px;
  position: relative;
  width:142px;
  height: 24px;
  display: flex;
  align-items: center;
  border-radius: 40px;
  display: flex;
  align-items: center;
}

.choosed-user :last-child{
  position: absolute;
  right: 10px;
}

.input-with-name{
  display: flex;
  flex-flow: column;
  align-items: flex-start;
}
.user-list{
  display: flex;
  justify-content: row;
  width: 400px;
  flex-wrap: wrap;
}

.time-input{
  width: 72px;
}
.dropdown, .text-input{
  width: 418px;
}
.text-input {
  background: #FFFFFF;
  border-radius: 4px;
  /* height:28px; */
}
.date-input{
  width: 238px;
}

.form{
  font-size: 15px;
  max-width: 1000px;
  flex-wrap: wrap;
  display: flex;
  /* justify-content:center; */
  align-items: center;
}
.recomendation{
  height: 150px;
  width: 399px;
}
