body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-family: 'Helveticaneue';
}

@font-face {
  font-family: 'Helveticaneue';
  src: url('./fonts/HelveticaNeueCyr-Roman.woff');
  font-weight: 200;
  font-style: normal;
}
input{
  border-radius: 4px;
  outline: none;
  background: #FFFFFF;
  border: 1.5px solid #E9ECEF;
  border-radius: 4px;
  height: 32px;
  padding-left: 3px;
}

input:hover{
  border-color: #E9ECEF;
border-color: rgba(0,16,33,0.05);
}
input:focus{
  border-color: #007DFF;
}
.header{

  width: 100%;
  /* padding-left: 40px;
  padding-right: 40px; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 24px;
  font-weight: bold;
}

.Hat{
  height: 71px;
  width: 100%;
  background: #FFFFFF;
  box-shadow: 0 1px 0 0 #E9ECEF;
}

.date-time-input{
  display: flex;
  width:424px;
  /* justify-content: center; */
  /* padding-right: 16px; */
}

.date-time-input > div{
  padding-right: 12px;
}


.dropdown{
  background-color: white;
    border: 1px solid #cccccc;
    max-height: 102px;
    position: absolute;
    z-index: 99;
    background: #FFFFFF;
    box-shadow: 0 1px 10px 0 rgba(0,44,92,0.28);
    border-radius: 4px;
    overflow-y: scroll;

}

.input-with-dropdown{
  position: relative;
}

.arrow{
  position: absolute;
  top:30px;
  right: 10px;
}
.dropdown-item{
  display: flex;
  align-items: center;
  height: 34px;
  padding-left: 16px;
}

.dropdown-item img, .choosed-user img{
  width: 20px;
  height: 20px;
  border-radius: 40px;
  margin-right: 8px;
}
.dropdown-item:hover, .choosed-user{
  background-color: #F6F7F9;
}

.dropdown-item:hover{
  font-weight: bold;
}

.choosed-user, .dropdown-item{
  font-size: 13px;
}

.choosed-user{
  margin: 4px 8px;
  position: relative;
  width:142px;
  height: 24px;
  display: flex;
  align-items: center;
  border-radius: 40px;
  display: flex;
  align-items: center;
}

.choosed-user :last-child{
  cursor: pointer;
  position: absolute;
  right: 10px;
}

.input-with-name{
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  font-size: 13px;
  font-weight: bold;
}
.input-with-name p{
  margin-bottom: 4px;
}
.user-list{
  display: flex;
  justify-content: row;
  width: 400px;
  flex-wrap: wrap;
  padding-top: 12px;
}
/* .date-time{
  padding: 116px;
} */

.time-input{
  width: 72px;
}
.dropdown, .text-input{
  width: 418px;
}
.text-input {
  background: #FFFFFF;
  border-radius: 4px;
  /* height:28px; */
}
.date-input{
  width: 238px;
}

.form{
  padding-top:31px;
  padding-left: 40px;
  padding-right: 40px;
  font-size: 15px;
  min-width: 400px;
  max-width: 925px;
  max-height: 1000px;
  flex-wrap: wrap;
  display: flex;
  //align-items: center;
  justify-content: center;
  overflow-x: hidden;
}

.form>div{
  margin-right: 32px;
  margin-bottom: 24px;
}
.recomendation{
  height: 150px;
  width: 399px;
}

.dropdown::-webkit-scrollbar-track
{
	background-color: white;
  border-radius: 8px;
}

.dropdown::-webkit-scrollbar
{
	width: 7px;
	background-color: white;
}

.dropdown::-webkit-scrollbar-thumb
{
	background-color: #D5DFE9;
  border-radius: 8px;
}
.with-name{
  position:relative;
}

.bottom{
  position: relative;
  display: flex;
  flex: 1 0 auto;
  width: 100%;
  height: 100px;
  /* background-color: grey; */
}
.Rooms{
  width: 424px;
}
.Rooms>div{
  background-color:  #E9ECEF;
  width:424px;
  height:37px;
  margin-bottom: 8px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  padding-left: 10px;
  font-weight: normal;
  position:relative;
}
.Room>div:last-child{
  position: absolute;
  right: 12px;

}

.Rooms>div>div{
  padding:5px;
}
.Rooms>div:hover{
  background-color: #E9ECEF;
background: rgba(0,16,33,0.05);
}
.loading{
  width:424px;
}

.footer{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;

  bottom:0;
  height:76px;
  width: 100%;
  background: #FFFFFF;
box-shadow: 0 -1px 0 0 #E9ECEF;
}
