.button-container {
  display: flex;
  justify-content: flex-end;
  left: 77px;
  margin-right: 8px;
  z-index: 30
}

.event-edit-button {
  margin: 1px;
  background-color: #E9ECEF;
  width: 24px;
  height: 24px;
  background-color: #E9ECEF;
  border-radius: 30px;
  margin-top: 11px;
  position: absolute;
  bottom: 81px;
}


.event-edit-button img {
  /* margin: 1px; */
  opacity: 0.4;
  width: 12px;
  height: 12px;
  padding: 6.5px 9px 8px 6px;
}

.event-edit-button:hover img {
  opacity: 1;
}


.event-edit-button img {
  /* margin: 1px; */
  opacity: 0.4;
  width: 12px;
  height: 12px;
  padding: 6.5px 9px 8px 6px;
}

@media screen and (max-width: 425px) {
  .event-edit-button  {
    bottom: 89px;
  }

}
