.event-edit-container {
  display: flex;
  height: 572px;
  min-width: 1280px;
  justify-content: center;
  align-items: center;
}

.event-edit {
  width: 876px;
  min-height: 572px;
  max-height: 572px;
  display: flex;
}

.left-side {
  margin-right: 32px;
  width: 421px;
  height: 572px;
}

.left-side h3 {
  margin-left: 2px;
  margin-top: 33px;
  margin-bottom: 9px;
  font-family: Helvecticanue-bold;
  font-size: 20px;
  color: #000000;
  letter-spacing: 0;
}

.left-side h4 {
  margin-left: 2px;
  margin-top: 33px;
  margin-bottom: 7px;
  font-family: Helvecticanue-bold;
  font-size: 20px;
  color: #000000;
  letter-spacing: 0;
}

.user-img {
  width: 24px;
  height: 24px;
  border-radius: 100px;
  margin-right: 8px;
  margin-top: 5px;
}

.user-select {
  z-index: 100;
  position: relative;
  overflow-y: scroll;
  margin-top: -10px;
  max-width: 420px;
  max-height: 136px;
  background-color: #FFFFFF;
  box-shadow: 0 1px 10px 0 rgba(0, 44, 92, 0.28);
  border-radius: 4px;
  font-family: Helvectica;
  font-size: 13px;
  color: #000000;
  letter-spacing: 0;
}

.user-in-user-select {
  padding-left: 16px;
  display: flex;
  height: 34px;
}

.user-in-user-select:hover {
  background-color: #F6F7F9;
}

.user-in-user-select div {
  margin-top: 10px;
  margin-bottom: 9px;
}

.user-in-user-select span {
  color: #37003E;
  letter-spacing: 0;
  line-height: 15px;
  pointer-events: none;
}

.date-time-input {
  display: flex;
}

.dash {
  margin-top: 38px;
  margin-left: -8px;
  margin-right: 6px;
}

.big-close-button {
  width: 24px;
  height: 24px;
  background-color: #E9ECEF;
  border-radius: 100px;
  margin-left: 397px;
}

.big-close-button img {
  margin-left: 6px;
  margin-bottom: 2px;
}

.time-input {
  display: flex;
}

@media screen and (max-width: 600px) {
  .event-edit-container {
    min-width: 360px;
    display: flex;
    margin-top: 30px;
  }
  .left-side {
    margin-left: 16px;
    margin-right: 32px;
    width: 360px;
    height: 200px;
  }
  .event-edit {
    padding-top: 24px;
    width: 360px;
    display: block;
  }
}
