.recomendation-field {
  font-family: Helvecticanue;
  font-size: 13px;
  color: #000000;
  letter-spacing: 0;
  line-height: 17px;
  margin-left: 6px;
}

.recomendation-field p {
  font-family: Helvecticanue-bold;
  font-size: 13px;
  letter-spacing: 0;
  margin-bottom: 3px;
  margin-top: 12px;
}

.recomended-room {
  background: #E9ECEF;
  border-radius: 4px;
  width: 420px;
  height: 37px;
  margin-bottom: 8px;
}

.recomended-room:hover {
  background-color: #98A9B9;
}

.recomended-room div {
  padding: 10px;
  position: relative;
}

.recomended-room div span {
  font-family: Helvecticanue-bold;
  font-size: 13px;
  letter-spacing: 0;
  line-height: 17px;
  padding-right: 16px;
  z-index: 0;
}

.recomended-room div span:nth-child(2){
font-family: Helvecticanue;
z-index: 0;



}

.recomended-room div img {
  position: absolute;
  padding-top: 3px;
  color: white;
  z-index: 5;
  left: 399px;
  fill: white;
}


@media screen and (max-width: 425px) {
  .recomended-room {
    width: 320px;
  }
  .recomended-room div img {
    left: 299px;
}
.recomendation-field p {
  width: 340px;

}
.recomendation-field {
  font-family: Helvecticanue;
  font-size: 13px;
  color: #000000;
  letter-spacing: 0;
  line-height: 17px;
  margin-left: 6px;
  padding-bottom: 70px;
}
}
