.room-list {
  margin-top: 1px;
  width: 245px;
  min-height: 890px;
  padding-top: 1px;
  box-shadow: 1px 0px 0px #E9ECEF;
  background-color: white;
  z-index: 5;
}

.event-background {
  z-index: -99;
  width: 1280px;
  min-height: 890px;
  /* height: 1000px; */
  background-color: #F6F7F9;
}

@media screen and (max-width: 425px) {
  .date-time-bar {
    height: 56px;
    display: inline-block;
    width: 360px;
  }
  .room-list {
    width: 181px;
    min-height: 590px;
      padding-top: 0px;
      background-color: #F6F7F9;

  }
  .event-background {
    margin-top: -1px;
    box-shadow: 5px 5px 4 4 #E9ECEF;
    min-height: 600px;
    z-index: 9;
    /* overflow-x: scroll; */
    /* height: 890px; */
    /* height: 1000px; */
    background-color: #F6F7F9;
  }
}
