.upper-side {
  height: 71px;
  display: flex;
  max-width: 1280px;
  justify-content: space-between;
  background-color: #FFFFFF;
  box-shadow: 0px 1px 0px #E9ECEF;
}

.upper-side img {
  margin: 25px 24.6px 21.6px;
}

@media screen and (max-width: 600px) {
  .upper-side {
    width: 360px;
    height: 49px;
    position: fixed;
    z-index: 100;
  }
  .upper-side img {
    margin: 15.8px 20.5px 11.3px 20.5px;
    height: 20.9px;
    width: 138.2px;
  }
  .upper-side button {
    display: none;
  }
}
